<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.openwebby.hello"
    version     = "1.0.0"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <name>openwebby</name>

    <description>
    A simple native mobile app build for openwebby.
    </description>

    <author href="http://openwebby.com" email="greg@openwebby.com">
    Greg O'Toole
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="2.9.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-minSdkVersion"      value="7" />           <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />        <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->


    <!-- Plugins -->
    <!-- Core plugins -->
	
    <!-- gto1 07/11/2014 Commenting out these plugins  because I'm using version 2.9 of phonegap (due to "Build Queued"issue) and this plugin isn't supported in v 2.9 
	
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
   	<gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    
	-->
	
	<!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

<!-- Define app splash screen for each platform. -->
  	<gap:splash src="screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
  	<gap:splash src="screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
  	<gap:splash src="screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
  	<gap:splash src="screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

	<access origin="*"/>
	
</widget>