@charset "UTF-8";

.ui-btn-active {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #999 ), to( #666 ));
	background-image: -webkit-linear-gradient( #999, #666 );
	background-image: -moz-linear-gradient( #999, #666 );
	background-image: -ms-linear-gradient( #999, #666 );
	background-image: -o-linear-gradient( #999, #666 );
	background-image: linear-gradient( #999, #666 );
	font-family: Helvetica, Arial, sans-serif
}

#credit {
	color:#ACACAC;
}